.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: calc(50% - 450px)
}

.login input[type=text] {
  color: #212121;
  background: none;
  padding: 10px 15px;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  font-size: 25px;
  background: white;
}

.login input[type=password]{
  color: white;
  background: none;
  padding: 10px 15px;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #212121;
  background: white;
}

.login input:focus {
  border: 2px solid #aecadd;

}

.login input[type=submit]{
  background: none;
  color: #212121;
  font-size: 20px;
  padding: 10px 15px;
  /* margin: 40px 20px 0px auto; */
  margin: 0px auto;
  border: 2px solid #b2d8dc;
  border-radius: 10px;
  outline: none;
}

.login input[type=submit]:hover {
  background: #b2d8dc;
  color: #212121;
  text-align: center;
  margin: 0 auto;
}

.login p {
  color: red;
  margin: 10px 0px;
}
